extends layout
block content
	script(src="/socket.io/socket.io.js")
	script(src='js/jquery-ui-1.10.2.custom.min.js')
	script(src='js/d3.v3.min.js')
	link(rel='stylesheet', href='css/detail.css')
	script(src='js/utils.js')
	include navbar
	.container
		.page-header
				h2 Market Detail
			p.lead
				.row
					.span12
						.alert.alert-info
							.mn Name:
								strong
							.mid ID:
								strong
							.toa Total Available:
								strong
							.ip In Play:
								strong							
				.row
					.span12
						table#marketbook.table.table-bordered
							thead
								tr								
									th Bet ID
									th Price
									th Size
									th Status
									th Emulated									
							tbody								
				script
					io = io.connect();																
					io.on('updateorders',function(data){
					
					});			