extends layout
block content
	script(src="/socket.io/socket.io.js")
	script(src='js/jquery-ui-1.10.2.custom.min.js')
	script(src='js/d3.v3.min.js')
	link(rel='stylesheet', href='css/detail.css')
	script(src='js/utils.js')
	include navbar
	.container
		.page-header
				h2 Market Detail
			p.lead
				.row
					.span12
						.alert.alert-info
							.mn Name:
								strong
							.mid ID:
								strong
							.toa Total Available:
								strong
							.ip In Play:
								strong							
				.row
					.span12
						table#marketbook.table.table-bordered
							thead
								tr								
									th Runners
									th Last Price Traded
									th Total Matched
									th(colspan="3") Back
									th(colspan="3") Lay
							tbody								
				.row
					.span6
						form#backform(method='post', action='/markets')
							button.btn.btn-primary.btn-mini(type='submit') Back				
					script
						io = io.connect();																
						io.on('tick_' + #{id},function(data){
							$('.mid strong').text(' ' + data.marketId);
							$('.toa strong').text(' ' + data.totalAvailable);
							$('.ip strong').text(' ' + data.inplay);							
							if($('#marketbook tr').length == 1) {
								createTable(data); 
								io.emit('detailpageready');
							} 
							assign(data);
						});		
						io.on('runnerdesc',function(data){
							$('.mn strong').text(' ' +data.marketName);
							for(var i = 0; i<data.runnerDescription.length; i++) {
									setAndHighlightItem('marketbook tbody tr#r' + i + 's td#rdesc', data.runnerDescription[i].runnerName, data.runnerDescription[i].selectionId);			
								}
						});
						function createTable(data) {
							console.log('createTable'); 
							for ( var rIdx = 0; rIdx < data.runners.length; ++rIdx) {
								$('#marketbook tbody').append('<tr id="r' + rIdx + 's"><td id="rdesc"><td id="rlpt"><td id="rtm"></td><td id="b0"></td><td id="b1"></td><td id="b2"></td><td id="l0"></td><td id="l1"></td><td id="l2"></td></tr>');								
							}							
						}
						
						function assign(data) {
							for ( var pIdx = 0; pIdx < data.runners.length; ++pIdx) {
								var runner = data.runners[pIdx];
								if($('#idselect option').size() < 2) {
									$('#idselect').append(new Option(runner.selectionId,runner.selectionId));
								}
								setAndHighlightItem('marketbook tbody tr#r' + pIdx + 's td#rlpt', '', runner.lastPriceTraded);
								setAndHighlightItem('marketbook tbody tr#r' + pIdx + 's td#rtm', '', runner.totalMatched);
								var atb = data.runners[pIdx].ex.availableToBack;								
								for(var bIdx = 2; bIdx >= 0; bIdx--) {
									if(atb[bIdx]) {
										setAndHighlightItem('marketbook tbody tr#r' + pIdx + 's td#b' + (2-bIdx), atb[bIdx].size, atb[bIdx].price);
									}									
								}																					
								var atl = data.runners[pIdx].ex.availableToLay;									
								for(var lIdx = 0; lIdx < 3; lIdx++) {									
									if(atl[lIdx]) {
										setAndHighlightItem('marketbook tbody tr#r' + pIdx + 's td#l' + lIdx, atl[lIdx].size, atl[lIdx].price);
									}	
								}
							}
						}					
						