extends layout
block content
	script(src="/socket.io/socket.io.js")
	script(src='js/jquery-ui-1.10.2.custom.min.js')
	script(src='js/d3.v3.min.js')
	link(rel='stylesheet', href='css/detail.css')
	script(src='js/utils.js')
	include navbar
	.container
		.page-header
				h2 Market Detail
			p.lead
				form.form-inline
					.mid ID:
					.toa Total Available: 
					.ip In Play:  
				.row
					.span6
						.alert.alert-info
							strong Player 0
							.sid0 Selection ID: 
								strong
							.lpt0 Last Price Traded: 
								strong
							.tm0 Total Matched: 
								strong
						table#pl0book.table.table-bordered
							thead
								tr
									th Back 
									th Price
									th Lay	
							tbody
								tr#ob1
									td#back 
									td#price &nbsp;
									td#lay
								tr#ob2
									td#back
									td#price &nbsp;
									td#lay
								tr#ob3
									td#back
									td#price &nbsp; 
									td#lay
								tr#ob4
									td#back
									td#price &nbsp;
									td#lay
								tr#ob5
									td#back
									td#price &nbsp;
									td#lay
								tr#ob6
									td#back
									td#price &nbsp;
									td#lay
					.span6
						.alert.alert-info
							strong Player 1
							.sid1 Selection ID: 
								strong
							.lpt1 Last Price Traded: 
								strong
							.tm1 Total Matched: 
								strong
						table#pl1book.table.table-bordered
							thead
								tr
									th Back
									th Price
									th Lay	
							tbody
								tr#ob1
									td#back 
									td#price &nbsp;
									td#lay
								tr#ob2
									td#back
									td#price &nbsp;
									td#lay
								tr#ob3
									td#back
									td#price &nbsp; 
									td#lay
								tr#ob4
									td#back
									td#price &nbsp;
									td#lay
								tr#ob5
									td#back
									td#price &nbsp;
									td#lay
								tr#ob6
									td#back
									td#price &nbsp;
									td#lay
				.row
					.span6
						form(method='post', action='/markets')
							button.btn.btn-primary.btn-mini(type='submit') Back
					script
						io = io.connect();
						io.on('tick_' + #{id},function(data){
							$('.mid').text('ID: ' + data.marketId);
							$('.toa').text('Total Available: ' + data.totalAvailable);
							$('.ip').text('In Play: ' + data.inplay);
							assign(data);
						});
						function assign(data) {
							for ( var pIdx = 0; pIdx < data.runners.length; pIdx++) {
								var runner = data.runners[pIdx];
								$('.sid' + pIdx + ' strong').text(runner.selectionId);
								$('.lpt' + pIdx + ' strong').text(runner.lastPriceTraded);
								$('.tm' + pIdx + ' strong').text(runner.totalMatched);							
								var atb = data.runners[pIdx].ex.availableToBack;
								for(var bIdx = 0; bIdx < atb.length; bIdx++) {
									setAndHighlight('pl' + pIdx + 'book tbody tr#ob' + (bIdx+4) + ' td#back', atb[bIdx].size);									
									setAndHighlight('pl' + pIdx + 'book tbody tr#ob' + (bIdx+4) + ' td#price', atb[bIdx].price);
								}
								var atl = data.runners[pIdx].ex.availableToLay;								 
								for(var lIdx = 0; lIdx < atl.length; lIdx++) {
									setAndHighlight('pl' + pIdx + 'book tbody tr#ob' + (lIdx+1) + ' td#lay', atl[lIdx].size);									
									setAndHighlight('pl' + pIdx + 'book tbody tr#ob' + (lIdx+1) + ' td#price', atl[lIdx].price);
								}
								
							}
						}	