extends layout

block content
	script(src="/socket.io/socket.io.js")
	script(src='js/jquery-ui-1.10.2.custom.min.js')
	script(src='js/utils.js')	
	include navbar
	.container
		.page-header
				h2 Logged Markets			
			p.lead
				include messages
				.row
					.span6
						form#exportform.form-inline(method='post', action='/history')
							a#back.btn.btn-primary.btn-mini(href='/markets') Back	
							button#export.btn.btn-primary.btn-mini(type='button') Export						
							button#delete.btn.btn-danger.btn-mini(type='button') Delete
							button#deleteall.btn.btn-danger.btn-mini(type='button') Delete All							
				#exportmarket
					table#idtable.table.table-bordered
						thead
							tr
								th Event ID 
								th Description
								th Passivation Time
								th Logs
						tbody
						script
							io = io.connect();
							io.emit('historyready');
							io.on('newpmarket',function(data){		
								var mid = ('' + data.marketId).substring(2,data.marketId.length);		
								var passivationTime = typeof data.passivationTime === 'undefined' ? 'Undefined' : '' + data.passivationTime;			
								$('#idtable tbody').append('<tr id="tr'+ mid +'" class="trmarket">'
									+ '<td class="mid">' + mid + '</td>'
									+ '<td class="des">' + data.description + '</td>'
									+ '<td class="ts">' + passivationTime + '</td>'
									+ '<td class="exp"></td>'
									+ '</tr>');
								$('#tr' + mid + ' td.exp').append('<input type="radio" name="optionsRadios" class="EntitiesRadio" id="'+ mid + '" onClick="reply_click(this.id)" value="' + mid + '">');
								});
							io.on('stalepmarket',function(data){		
								console.log('stale market, data = ' + data);		
								var mid = ('' + data).substring(2,data.length);					
								$('#tr' + mid)
									.animate( { backgroundColor: "#E6E6E6" }, 500 )
									.animate( { backgroundColor: "transparent" }, 500 );
								setTimeout(function(){
									$('#tr' + mid).remove()}, 750);
							});
							io.on('reset',function(data){				
								$('#idtable tbody')
									.animate( { backgroundColor: "#E6E6E6" }, 500 )
									.animate( { backgroundColor: "transparent" }, 500 );
								setTimeout(function(){
									$("#idtable").find("tr:gt(0)").remove();}, 750);
							});
							$('#back').click(function(e) {
								reset();
							})
							$('#export').click(function(e){
								resetMessages();
								var mid = $('input[name=optionsRadios]:checked', '#exportmarket').val();
								if(mid == undefined) {
									setErrorMessages('Export failed', ['No item selected.']);
									$('#errmsg').show();
								} else {
									io.emit('export');
									$('#exportform').submit();																	
								}													
								
							});
							$('#delete').click(function(e){
								resetMessages();
								var mid = $('input[name=optionsRadios]:checked', '#exportmarket').val();
								if(mid == undefined) {
									setErrorMessages('Export failed', ['No item selected.']);
									$('#errmsg').show();
								} else {
									$('#errmsg').hide();
									var xhr = $.ajax({
										type: 'POST',
										cache: false,
										data: {marketId: mid, operation: 'delete'},
										success: function(data){
											console.log('Success');															
										}, 
										error: function(jqXHR, textStatus, err){
											console.error(err);
										}
									});	
								}													
								
							});
							$('#deleteall').click(function(e){
								console.log('deleteAll');
								$('#errmsg').hide();
									var xhr = $.ajax({
										type: 'POST',
										cache: false,
										data: {operation: 'deleteall'},
										success: function(data){
											console.log('Success');															
										}, 
										error: function(jqXHR, textStatus, err){
											console.error(err);
										}
								});														
								
							});	
							function reply_click(mid) {
								$('#errmsg').hide();
									var xhr = $.ajax({
										type: 'POST',
										cache: false,
										data: {marketId: mid, operation: 'setExportId'},
										success: function(data){
											console.log('Success');															
										}, 
										error: function(jqXHR, textStatus, err){
											console.error(err);
										}
								});		
							}	
							function reset() {
								var xhr = $.ajax({
										type: 'POST',
										cache: false,
										data: {operation: 'resetExportId'},
										success: function(data){
											console.log('resetExportId Success');															
										}, 
										error: function(jqXHR, textStatus, err){
											console.error(err);
										}
								});		
							}						