extends layout

block content
	link(rel='stylesheet', href='css/bootstrap-sortable.css')
	script(src="/socket.io/socket.io.js")
	script(src='js/jquery-ui-1.10.2.custom.min.js')
	script(src='js/utils.js')
	script(src='js/bootstrap-sortable.js')
	script(src='js/moment.min.js')
	include navbar
	.container
		.page-header
			h2 
		p.lead
			form#viewhistory(method='post', action='/history')
				.alert.alert-info
					.hist Show logged markets: 
						button.btn.btn-primary.btn-mini(type='submit') History
			form#viewdetail(method='post', action='/detail')        
				table#idtable.table.table-bordered.sortable
					thead
						tr
							th Event ID
							th Market ID 
							th Type
							th Country Code
							th Open Date
							th Detail
							th Prices
					tbody
					
					script				
						io = io.connect();
						io.emit('marketsready');
						io.on('addmarket',function(data){
							var activationTime = typeof data.activationTime === 'undefined' ? 'Undefined' : '' + millisToDate(data.activationTime);
							var mid = data.id.substring(2,data.id.length);							
								$('#idtable tbody').append('<tr id="'+ data.id.substring(2,data.id.length) +'" class="trmarket">'
									+ '<td class="eid">' + data.eventId + '</td>'	
									+ '<td class="mid">' + mid + '</td>'									
									+ '<td class="mn">' + data.name + '</td>'
									+ '<td class="cc">' + data.countryCode + '</td>'
									+ '<td class="mt">' + millisToDate(data.openDate) + '</td>'
									+ '<td class="md">' + data.eventName + '</td>'
									+ '<td class="mpl"></td>'
									+ '</tr>');		
								$('#' + mid + ' td.mpl').append('<button class="btn btn-primary btn-mini" id="' + mid + '" onClick="reply_click(this.id)" type="submit">Detail</button>');
								$.bootstrapSortable(true);										
							});							
							io.on('updateclass',function(data){									
									var mid = data.mid.substring(2,data.mid.length);
									if(data.status != 'OPEN') {
										$(rowId).css("background-color", "#EED3D7");
									} else {
										var rowId = '#' + mid;
										switch(data.thrclass) {
											case 1: $(rowId).css("background-color", "#ffffff"); break;
											case 2: $(rowId).css("background-color", "#F7FBFC"); break;
											case 3: $(rowId).css("background-color", "#E2F5FC"); break;
											case 4: $(rowId).css("background-color", "#CFEFFD"); break;
										}							
									}		
							});
							io.on('addbatch', function(data) {
								var mid = data.marketId.substring(2,data.marketId.length);		
								$('#' + mid + ' td.eid').append('  <span class="badge">TH</span>'); 
								$('#' + mid)
									.animate( { backgroundColor: "#E6E6E6" }, 500 )
									.animate( { backgroundColor: "transparent" }, 500);								
							});
							io.on('removebatch', function(data) {
								var mid = data.marketId.substring(2,data.marketId.length);
								$('.badge').remove();
								$('#' + mid + ' td.eid')
									.animate( { backgroundColor: "#E6E6E6" }, 500 )
									.animate( { backgroundColor: "transparent" }, 500);								
							});
							io.on('removemarket', function(data) {	
								var mid = data.marketId.substring(2,data.marketId.length);	
								$('#' + mid)
									.animate( { backgroundColor: "#E6E6E6" }, 500 )
									.animate( { backgroundColor: "transparent" }, 500);
								setTimeout(function(){
									$('#' + mid).remove()}, 750);
							});
							$("#viewdetail").click(function(e) {
								var mid = e.target.id;
								var eid = $('#' + mid + ' td.eid').text();
								io.emit('viewprdetail', {marketId: mid, eventId: eid});
							});