extends layout

block content
	script(src="/socket.io/socket.io.js")
	script(src='js/jquery-ui-1.10.2.custom.min.js')
	script(src='js/utils.js')
	include navbar
	.container
		.page-header
			h2 Market Monitoring
		p.lead
			form#viewhistory(method='post', action='/history')
				.alert.alert-info
					.hist Show logged markets: 
						button.btn.btn-primary.btn-mini(type='submit') History
			form#viewdetail(method='post', action='/detail')        
				table#idtable.table.table-bordered
					thead
						tr
							th Market ID 
							th Type
							th Activation Time
							th Date
							th Detail
							th Prices
					tbody
					script
						io = io.connect();
						io.emit('marketsready');
						io.on('addmarket',function(data){
							var activationTime = typeof data.activationTime === 'undefined' ? 'Undefined' : '' + millisToDate(data.activationTime);
							var mid = data.marketId.substring(2,data.marketId.length);							
								$('#idtable tbody').append('<tr id="'+ data.marketId.substring(2,data.marketId.length) +'" class="trmarket">'
									+ '<td class="mid">' + mid + '</td>'									
									+ '<td class="mn">' + data.marketName + '</td>'
									+ '<td class="mat">' + activationTime + '</td>'
									+ '<td class="mt">' + data.event.openDate + '</td>'
									+ '<td class="md">' + data.event.name + '</td>'
									+ '<td class="mpl"></td>'
									+ '</tr>');		
								$('#' + mid + ' td.mpl').append('<button class="btn btn-primary btn-mini" id="' + mid + '" onClick="reply_click(this.id)" type="submit">Detail</button>');  					
							});							
							io.on('updateclass',function(data){									
									var mid = data.mid.substring(2,data.mid.length);
									var rowId = '#' + mid;
									switch(data.thrclass) {
										case 1: $(rowId).css("background-color", "#ffffff"); break;
										case 2: $(rowId).css("background-color", "#F0F7FD"); break;
										case 3: $(rowId).css("background-color", "#D9ECFD"); break;
										case 4: $(rowId).css("background-color", "#C6E3FC"); break;
									}									
							});
							io.on('removemarket', function(data) {	
								var mid = data.marketId.substring(2,data.marketId.length);	
								$('#' + mid)
									.animate( { backgroundColor: "#E6E6E6" }, 500 )
									.animate( { backgroundColor: "transparent" }, 500);
								setTimeout(function(){
									$('#' + mid).remove()}, 750);
							});
							$("#viewdetail").click(function(e) {
								var id = e.target.id;
								var players = $('#' + id + ' td.md').text();
								io.emit('viewprdetail', {marketId: id, detail: players});
							});		