#errmsg.alert.alert-danger(style="display:none")
	button#close-alerts.close(type="button") &times;
	#errtitle
	ul#erritems.errors
#confmsg.alert.alert-success(style="display:none")
	button#close-confirmation.close(type="button") &times;
	#conftitle
	ul#confcontent