extends layout
block content
	script(src="/socket.io/socket.io.js")
	script(src='js/jquery-ui-1.10.2.custom.min.js')
	script(src='js/d3.v3.min.js')
	link(rel='stylesheet', href='css/detail.css')
	script(src='js/utils.js')
	include navbar
	.container
		.page-header
				h2 Results
			p.lead
				.row
					.span12
						.alert.alert-info
							.mn Name:
								strong
							.mid ID:
								strong
							.toa Total Available:
								strong
							.ip In Play:
								strong							
				.row
					.span12
						table#resultbook.table.table-bordered
							thead
								tr								
									th Market ID
									th Name
									th Type
									th Supended at
									th Order Count
									th Result
									th Profit									
							tbody								
				script
					io = io.connect();				
					io.emit('resultsready');													
					io.on('updateresults',function(result){
						var mid = result.marketId.substring(2,result.marketId.length);							
							$('#resultbook tbody').append('<tr id="'+ mid +'" class="trmarket">'
								+ '<td class="mid">' + mid + '</td>'
								+ '<td class="n">' + result.name + '</td>'	
								+ '<td class="mt">' + result.type + '</td>'
								+ '<td class="st">' + result.suspensionTime + '</td>'	
								+ '<td class="oct">' + result.orderCount + '</td>'									
								+ '<td class="res"></td>'
								+ '<td class="prft"></td>'								
								+ '</tr>');
					});	
					io.on('totalProfit',function(data){
						console.log(data);
						var mid = data.marketId.substring(2,data.marketId.length);							
							$('#' + mid + ' td.prft').text(data.totalProfit);
							var winners = '';
							for(var i = 0; i < data.winners.length; i++) {
								winners += data.winners[i];
								if(i < data.winners.length -1) {
									winners += ', ';
								}
							}
							$('#' + mid + ' td.res').text(winners);
					});			